In [1]:
import pandas as pd

In [2]:
from first_cycling_api import Race, RaceEdition

### Races

In [47]:
amstel_2019 = RaceEdition(race_id=17, year=2016) # The race_id comes from the race page URL
amstel_2019.results(stage_num = 1).results_table.head() # A pandas DataFrame of the race results

,Pos,Rider,Team,Time,Rider_ID,Rider_Country,Team_ID
0,1,Cavendish Mark,Dimension Data,04:14:05,14,GBR,6436
1,2,Kittel Marcel,Etixx - Quick Step,+ 00,1007,GER,6415
2,3,Sagan Peter,Tinkoff,+ 00,784,SVK,6427
3,4,Greipel André,Lotto - Soudal,+ 00,377,GER,6419
4,5,Theuns Edward,Trek-Segafredo,+ 00,10382,BEL,6428

In [48]:
races = pd.DataFrame()
Race_ids = [17, 13, 23, 1, 2, 3, 12, 15, 16, 14, 6, 19, 21, 9800, 4, 7, 5, 8, 9, 11, 59, 58, 24, 47, 10, 1988, 20, 22, 1172, 53, 54, 75, 35, 40]
try:
    for i in range(2016,2022):
        try:
            for j in Race_ids:
                try:
                    if(j == 17 or j == 13 or j == 23 or j == 1 or j == 2 or j == 3 or j == 12 or j == 15 or j == 16 or j == 14 or j == 6 or j == 19 or j == 21 or j == 9800):
                        for k in range(1,30):
                            try:
                                Race = RaceEdition(race_id=j, year=i)
                                Race = Race.results(stage_num = k).results_table
                                Race["Year"] = i
                                Race["Stage"] = k
                                Race["Race_ID"] = j
                                races = races.append(Race) 
                            except: pass
                    else:
                        Race = RaceEdition(race_id=j, year=i)
                        Race = Race.results().results_table
                        Race["Year"] = i
                        Race["Stage"] = 0
                        Race["Race_ID"] = j
                        races = races.append(Race)        
                except: pass
        except: pass
except: pass

In [49]:
races

,Pos,Rider,Team,Time,Rider_ID,Rider_Country,Team_ID,Year,Stage,Race_ID,Unnamed: 1,Icon,UCI
0,1,Cavendish Mark,Dimension Data,04:14:05,14.0,GBR,6436.0,2016,1,17,NaN,NaN,NaN
1,2,Kittel Marcel,Etixx - Quick Step,+ 00,1007.0,GER,6415.0,2016,1,17,NaN,NaN,NaN
2,3,Sagan Peter,Tinkoff,+ 00,784.0,SVK,6427.0,2016,1,17,NaN,NaN,NaN
3,4,Greipel André,Lotto - Soudal,+ 00,377.0,GER,6419.0,2016,1,17,NaN,NaN,NaN
4,5,Theuns Edward,Trek-Segafredo,+ 00,10382.0,BEL,6428.0,2016,1,17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,DNF,Bouhanni Nacer,Team Arkéa-Samsic,NaN,2530.0,FRA,21864.0,2021,0,40,NaN,NaN,NaN
169,DNF,Egholm Jakob,Trek-Segafredo,NaN,52664.0,DEN,21836.0,2021,0,40,NaN,NaN,NaN
170,DNF,Rodenberg Frederik,Uno-X Pro Cycling Team,NaN,50933.0,DEN,21797.0,2021,0,40,NaN,NaN,NaN
171,DNF,Skaarseth Anders,Uno-X Pro Cycling Team,NaN,27232.0,NOR,21797.0,2021,0,40,NaN,NaN,NaN
172,DNF,Van Elzakker Wout,Vini Zabù,NaN,16892.0,NED,21869.0,2021,0,40,NaN,NaN,NaN

In [50]:
races[races["UCI"].isna() == False]

,Pos,Rider,Team,Time,Rider_ID,Rider_Country,Team_ID,Year,Stage,Race_ID,Unnamed: 1,Icon,UCI
0,1,Gaviria Fernando,Quick-Step Floors,04:23:32,18575.0,COL,10083.0,2018,1,17,NaN,NaN,120.0
1,2,Sagan Peter,Bora - Hansgrohe,+ 00,784.0,SVK,10076.0,2018,1,17,NaN,NaN,50.0
2,3,Kittel Marcel,Katusha - Alpecin,+ 00,1007.0,GER,10084.0,2018,1,17,NaN,NaN,25.0
3,4,Kristoff Alexander,UAE Team Emirates,+ 00,406.0,NOR,10089.0,2018,1,17,NaN,NaN,15.0
4,5,Laporte Christophe,Cofidis,+ 00,14737.0,FRA,10094.0,2018,1,17,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,56,Debusschere Jens,B&B Hotels p/b KTM,+ 18,1966.0,BEL,21849.0,2021,0,40,NaN,NaN,1.0
56,57,Grondin Donavan,Team Arkéa-Samsic,+ 19,76398.0,FRA,21864.0,2021,0,40,NaN,NaN,1.0
57,58,Reynders Jens,Sport Vlaanderen-Baloise,+ 19,45371.0,BEL,21863.0,2021,0,40,NaN,NaN,1.0
58,59,Biermans Jenthe,Israel Start-Up Nation,+ 19,16787.0,BEL,21817.0,2021,0,40,NaN,NaN,1.0
59,60,Perry Ben,Astana-Premier Tech,+ 19,16594.0,CAN,21799.0,2021,0,40,NaN,NaN,1.0

In [56]:
races[races["Year"] == 2017]

,Pos,Rider,Team,Time,Rider_ID,Rider_Country,Team_ID,Year,Race_ID,UCI
0,01,Chris Froome,Sky,86:20:55,713,GBR,8443.0,2017,17,NaN
1,02,Rigoberto Uran,Cannondale-Drapac,+ 54,117,COL,8434.0,2017,17,NaN
2,03,Romain Bardet,AG2R La Mondiale,+ 02:20,2275,FRA,8429.0,2017,17,NaN
3,04,Mikel Landa,Sky,+ 02:21,2278,ESP,8443.0,2017,17,NaN
4,05,Fabio Aru,Astana,+ 03:05,10303,ITA,8430.0,2017,17,NaN
...,...,...,...,...,...,...,...,...,...,...
183,DNF,Robin Stenuit,Wanty-Groupe Gobert,NaN,8043,BEL,8467.0,2017,40,NaN
184,DNF,Roy Jans,WB-Veranclassic-Aqua Protect,NaN,7657,BEL,8564.0,2017,40,NaN
185,DNF,Jakub Mareczko,Wilier Triestina-Selle Italia,NaN,28738,ITA,8468.0,2017,40,NaN
186,DNF,Jacopo Mosca,Wilier Triestina-Selle Italia,NaN,20397,ITA,8468.0,2017,40,NaN
187,DNF,Filippo Pozzato,Wilier Triestina-Selle Italia,NaN,67,ITA,8468.0,2017,40,NaN

In [51]:
races.to_csv('Races_WITHindex.csv')

In [52]:
races.to_csv('Races_WITHOUTindex.csv', index=False)

### Ranking???