In [7]:
import pandas as pd

In [8]:
from first_cycling_api import Race, RaceEdition

In [16]:
amstel_2019 = RaceEdition(race_id=1, year=2019) # The race_id comes from the race page URL
amstel_2019.results().results_table.head() # A pandas DataFrame of the race results

,Pos,Rider,Team,Time,UCI,Rider_ID,Rider_Country,Team_ID
0,01,Daryl Impey,Mitchelton - Scott,20:30:42,500.0,706,RSA,13204.0
1,02,Richie Porte,Trek-Segafredo,+ 13,400.0,563,AUS,13213.0
2,03,Wout Poels,Team Sky,+ 17,325.0,929,NED,13211.0
3,04,Luis León Sánchez,Astana Pro Team,+ 19,275.0,26,ESP,13198.0
4,05,Rohan Dennis,Bahrain - Merida,+ 26,225.0,2322,AUS,13199.0

In [11]:
races = pd.DataFrame()
for i in range(1,5):
    Race = RaceEdition(race_id=i, year=2020)
    Race = Race.results().results_table
    Race["Race_ID"] = i
    races = races.append(Race)

In [12]:
races

,Pos,Rider,Team,Time,UCI,Rider_ID,Rider_Country,Team_ID,Race_ID
0,01,Richie Porte,Trek-Segafredo,20:37:08,500.0,563,AUS,17540.0,1
1,02,Diego Ulissi,UAE Team Emirates,+ 25,400.0,794,ITA,17541.0,1
2,03,Simon Geschke,CCC Team,+ 25,325.0,168,GER,17528.0,1
3,04,Rohan Dennis,INEOS Grenadiers,+ 25,275.0,2322,AUS,17536.0,1
4,05,Dylan van Baarle,INEOS Grenadiers,+ 25,225.0,7724,NED,17536.0,1
...,...,...,...,...,...,...,...,...,...
157,DNF,Alex Dowsett,Israel Start-Up Nation,NaN,NaN,1009,GBR,17628.0,4
158,DNF,Frederik Frison,Lotto-Soudal,NaN,NaN,16144,BEL,17532.0,4
159,DNF,Hector Carretero,Movistar,NaN,NaN,45082,ESP,17534.0,4
160,DNF,Gabriel Cullaigh,Movistar,NaN,NaN,37373,GBR,17534.0,4
161,DNF,Jasha Sütterlin,Team Sunweb,NaN,NaN,6414,GER,17539.0,4

In [6]:
races.head()

,Pos,Rider,Team,Time,UCI,Rider_ID,Rider_Country,Team_ID,Race_ID
0,01,Richie Porte,Trek-Segafredo,20:37:08,500.0,563,AUS,17540.0,1
1,02,Diego Ulissi,UAE Team Emirates,+ 25,400.0,794,ITA,17541.0,1
2,03,Simon Geschke,CCC Team,+ 25,325.0,168,GER,17528.0,1
3,04,Rohan Dennis,INEOS Grenadiers,+ 25,275.0,2322,AUS,17536.0,1
4,05,Dylan van Baarle,INEOS Grenadiers,+ 25,225.0,7724,NED,17536.0,1